div {
    width: 400px;
    height: 400px;
}
div div {
    width: 25px;
    height: 25px;
    outline: 1px solid;
    outline-color: black;
    float: left;
    display:inline-block;
    vertical-align:top;
}